In [1]:
import json
import random
import re
import pathlib
import pandas as pd

In [42]:
dictionary = {}
with open('phoneme-groups-with-syllables.json') as f:
    for l in f:
        j = json.loads(l)
        if len(j['word']) > 1 or j['word'] in ['A', 'I', 'O']:
            dictionary[j['word']] = len(j['syllables'])
        
dict_df = pd.DataFrame.from_records([(k, dictionary[k]) for k in dictionary])
dict_df = dict_df[dict_df[1] <= 7]
        
corpus = []
regex = re.compile("[^A-Z\s'-\.]")
for path in pathlib.Path('corpus').glob('*'):
    print(str(path))
    with open(str(path)) as f:
        corpus = corpus + [i.split() for i in re.split(r'[\.!\?;]',regex.sub('', f.read().upper().replace(",", "").replace("--", " ")))]

model2 = {}
for c in corpus:
    for i in range(len(c) - 1):
        w1 = c[i]
        w2 = c[i+1]
        
        if w1 not in model2:
            model2[w1] = {}
            
        if w2 not in model2[w1]:
            model2[w1][w2] = {'count': 1, 'end': 0, 'start': 0}
        else:
            model2[w1][w2]['count'] += 1
            
        if i == (len(c) - 2):
            model2[w1][w2]['end'] += 1
        if i == 0:
            model2[w1][w2]['start'] += 1
            
records = [(w1, w2, model2[w1][w2]['count'], model2[w1][w2]['end'], model2[w1][w2]['start']) for w1 in model2 for w2 in model2[w1]]
model2_df = pd.DataFrame.from_records(records).rename(columns={0: 'word1', 1:'word2', 2:'count', 3: 'end', 4: 'start'})
model2_df = model2_df.merge(dict_df.rename(columns={0: 'word2', 1: 'syllables'}), on='word2')
model2_df = model2_df.merge(dict_df.rename(columns={0: 'word1', 1: 'syllables_word1'}), on='word1')

g = model2_df.groupby('word2')
m = g.sum().reset_index()[['word2', 'end']].merge(g.sum().reset_index()[['word2', 'count']], on='word2')
m['end_percent'] = m['end']/m['count']

model2_df = model2_df.merge(m[['word2', 'end_percent']], on='word2')


g = model2_df.groupby('word1')
m = g.sum().reset_index()[['word1', 'start']].merge(g.sum().reset_index()[['word1', 'count']], on='word1')
m['start_percent'] = m['start']/m['count']

model2_df = model2_df.merge(m[['word1', 'start_percent']], on='word1')

#model2_df.head()

model3 = {}
for c in corpus:
    for i in range(len(c) - 2):
        w1 = c[i]
        w2 = c[i+1]
        w3 = c[i+2]
        
        if w1 not in model3:
            model3[w1] = {}
            
        if w2 not in model3[w1]:
            model3[w1][w2] = {}
            
        if w3 not in model3[w1][w2]:
            model3[w1][w2][w3] = {'count': 1, 'end': 0}
        else:
            model3[w1][w2][w3]['count'] += 1
            
        if i == (len(c) - 3):
            model3[w1][w2][w3]['end'] += 1
            
records = []
for w1 in model3:
    for w2 in model3[w1]:
        for w3 in model3[w1][w2]:
            records.append((w1, w2, w3, model3[w1][w2][w3]['count'], model3[w1][w2][w3]['end']))

model3_df = pd.DataFrame.from_records(records).rename(columns={0: 'word1', 1:'word2', 2: 'word3', 3:'count', 4: 'end'})
model3_df = model3_df.merge(dict_df.rename(columns={0: 'word3', 1: 'syllables'}), on='word3')

g = model3_df.groupby('word3')
m = g.sum().reset_index()[['word3', 'end']].merge(g.sum().reset_index()[['word3', 'count']], on='word3')
m['end_percent'] = m['end']/m['count']

model3_df = model3_df.merge(m[['word3', 'end_percent']], on='word3')

model3_df.head()

corpus\1321-0.txt
corpus\24280-0.txt
corpus\pg1020.txt
corpus\pg12389.txt
corpus\pg1322.txt
corpus\pg1365.txt
corpus\pg1567.txt
corpus\pg16452.txt
corpus\pg18524.txt
corpus\pg18726.txt
corpus\pg19221.txt
corpus\pg20.txt
corpus\pg2039.txt
corpus\pg228.txt
corpus\pg23684.txt
corpus\pg2670.txt
corpus\pg27199.txt
corpus\pg4800.txt
corpus\pg8820.txt
corpus\pg9622.txt

       word1     word2         word3  count  end  syllables  end_percent
0  MULTIFORM  PUZZLING  EVOLUTIONARY      1    0          6          0.0
1      THEE)      MORE  EVOLUTIONARY      1    0          6          0.0
2  MULTIFORM       AND           MIX      1    0          1          0.0
3         OF    GREECE           MIX      1    0          1          0.0
4         OF    HEAVEN           MIX      2    0          1          0.0

In [57]:
model3_df.sort_values('count')

            word1        word2  word3  count  end  syllables  end_percent
0        DAY-BOOK         OPEN   TILL      1    0          1     0.000000
672003  LING'RING         LIFE  SINCE      1    0          1     0.019370
672004  PURPOSING         THAT  SINCE      1    0          1     0.019370
672006        NOT         FIND  SINCE      1    0          1     0.019370
672007        NOT       CEASED  SINCE      1    0          1     0.019370
672008        NOT       INDEED  SINCE      1    0          1     0.019370
672009        NOT        KNOWN  SINCE      1    0          1     0.019370
672010    INFECTS          THE  SKIES      1    1          1     0.208609
672011       FAIR      AURORAL  SKIES      1    0          1     0.208609
672015         IN       WINTER  SKIES      1    0          1     0.208609
672017         IN        THEIR  SKIES      1    0          1     0.208609
672018         IN     NORTHERN  SKIES      1    0          1     0.208609
672019        AND       STARRY  SKIES      1    0          1     0.208609
672024       FAME          THE  SKIES      1    0          1     0.208609
672025       BACK          THE  SKIES      1    0          1     0.208609
672026        AIR          THE  SKIES      1    0          1     0.208609
672027        HAD       PARTED  SKIES      1    0          1     0.208609
672028     STORMS          THE  SKIES      1    0          1     0.208609
672029     SALUTE          THE  SKIES      1    0          1     0.208609
672031      TEARS          THE  SKIES      1    0          1     0.208609
672033        THE        NAKED  SKIES      1    0          1     0.208609
672035        THE       NATIVE  SKIES      1    0          1     0.208609
672037        THE        SABLE  SKIES      1    0          1     0.208609
672038        THE        FATAL  SKIES      1    0          1     0.208609
672040        THE  CRYSTALLINE  SKIES      1    0          1     0.208609
672041        THE    LUXURIANT  SKIES      1    0          1     0.208609
672002     THOUGH      FAULTIE  SINCE      1    0          1     0.019370
672001         WE      LAUGHED  SINCE      1    0          1     0.019370
672000         WE        BEGUN  SINCE      1    0          1     0.019370
671999        ASS        AGAIN  SINCE      1    0          1     0.019370
...           ...          ...    ...    ...  ...        ...          ...
283385         OF          THE  NIGHT     96   13          1     0.091638
132720        THE          SEA    AND     97    0          1     0.000325
725266  PUBLISHED           BY    MRS    100  100          2     0.991968
82430           I         HEAR    THE    100    0          1     0.000288
79388        THIS           IS    THE    100    0          1     0.000288
132840        THE        EARTH    AND    101    0          1     0.000325
698377         IN          THE  MIDST    103    3          1     0.021429
314730        THE        VOICE     OF    103    0          1     0.000976
314116        THE       SPIRIT     OF    104    0          1     0.000976
124620         HE         SAID    AND    107    0          1     0.000325
91116          IT           IS    THE    108    0          1     0.000288
612727         IN          THE    AIR    109   11          1     0.098415
557252         IT           IS    NOT    113    1          1     0.023292
494861      THERE           IS     NO    116    0          1     0.004911
314457        THE        SOUND     OF    117    0          1     0.000976
430448         OF          THE    SEA    125   23          1     0.118432
23337       THERE           IS      A    132    0          1     0.000919
66826         AND           TO    THE    136    0          1     0.000288
517515         OF          THE  WORLD    140   26          1     0.070952
314039        THE        LIGHT     OF    140    0          1     0.000976
556473          I           DO    NOT    148    1          1     0.023292
67432         AND           ON    THE    148    0          1     0.000288
66601         AND         FROM    THE    155    1          1     0.000288
474272         OF          THE  EARTH    155   15          1     0.051565
82174           I          SEE    THE    169    0          1     0.000288
94033          OF          ALL    THE    189    0          1     0.000288
313267        THE          SON     OF    191    0          1     0.000976
66447         AND           IN    THE    198    0          1     0.000288
66418         AND          ALL    THE    222    0          1     0.000288
96062         OUT           OF    THE    230    0          1     0.000288

[1025791 rows x 7 columns]

In [227]:
model_df.sort_values('start_percent')

,word1,word2,count,end,start,syllables,end_percent,start_percent
0,SETTLED,IN,1,0,0,1,0.002424,0.0
271187,REAL,WEALTH,1,0,0,1,0.016529,0.0
271188,REAL,IDENTITIES,1,0,0,4,0.000000,0.0
271189,REAL,REAL,1,0,0,1,0.011364,0.0
271190,REAL,UNDERFOOT,1,0,0,3,0.000000,0.0
271191,REAL,EMPLOYMENTS,1,0,0,3,0.125000,0.0
271192,REAL,INCIDENTS,1,0,0,3,0.250000,0.0
271193,REAL,LANDLORD,1,0,0,2,0.000000,0.0
271194,REAL,RECKONING,1,0,0,3,0.000000,0.0
271195,REAL,CUSTODIANS,1,0,0,4,0.000000,0.0
271196,REAL,PARISIAN,1,0,0,3,0.000000,0.0
271197,NIGHT-WATCHING,AND,1,0,0,1,0.000494,0.0
271198,NETS,AND,3,0,0,1,0.000494,0.0
271199,NETS,OR,1,0,0,1,0.000930,0.0
271200,NETS,ARE,1,0,0,1,0.006509,0.0
271201,NETS,WHICH,1,0,0,1,0.000655,0.0
271202,NETS,LYING,1,0,0,2,0.038462,0.0
271232,EXULTINGLY,AND,1,0,0,1,0.000494,0.0
271246,BLIGHT,PESTILENCE,1,0,0,3,0.000000,0.0
271245,BLIGHT,POISON,1,0,0,2,0.016129,0.0
271244,BLIGHT,SHE,1,0,0,1,0.002848,0.0
271243,BLIGHT,WAS,1,0,0,1,0.001777,0.0
271242,BLIGHT,THROUGH,1,0,0,1,0.003814,0.0
271241,BLIGHT,HAD,2,0,0,1,0.001880,0.0
271186,REAL,AUTHORS,1,0,0,2,0.000000,0.0
271240,BLIGHT,OR,1,0,0,1,0.000930,0.0
271238,BLIGHT,THAT,1,0,0,1,0.001362,0.0
271237,BLIGHT,THE,3,0,0,1,0.000450,0.0
271236,BLIGHT,ON,2,0,0,1,0.007818,0.0
271235,BLIGHT,AND,3,0,0,1,0.000494,0.0
...,...,...,...,...,...,...,...,...
371623,ALL-CASED,HE,1,0,1,1,0.002748,1.0
281454,'SOPHIST,AND,1,0,1,1,0.000494,1.0
394980,KYD'S,SPANISH,1,0,1,2,0.000000,1.0
390218,JAMES'S,COURT,1,0,1,1,0.209524,1.0
115008,DWIGHT,IN,1,0,1,1,0.002424,1.0
397414,HERMANN,HESSE,1,0,1,1,0.000000,1.0
325385,'SPIRIT',THE,1,0,1,1,0.000450,1.0
372090,SESTOS,WAS,1,0,1,1,0.001777,1.0
372081,OCNUS,WAS,1,0,1,1,0.001777,1.0
372064,IAPIS,FIRST,1,0,1,1,0.016798,1.0
372063,IAPIS,WAS,1,0,1,1,0.001777,1.0
372056,HIPPOCOON'S,WAS,1,0,1,1,0.001777,1.0
372033,AXYLUS,WAS,1,0,1,1,0.001777,1.0
372001,OTRYNTEUS,WAS,1,0,1,1,0.001777,1.0
371990,WARREN,WAS,1,0,1,1,0.001777,1.0
245581,--WIT,AND,1,0,1,1,0.000494,1.0
371985,CADUCEUS,WAS,1,0,1,1,0.001777,1.0
332479,SMOULDERED,THE,1,0,1,1,0.000450,1.0
396698,VIDE,SAMSON,1,0,1,2,0.000000,1.0
388491,EUPHEMUS,OFFSPRING,1,0,1,2,0.000000,1.0
371978,'--IT,WAS,1,0,1,1,0.001777,1.0
298748,ANTONY,AND,1,0,1,1,0.000494,1.0
325427,UPWENT,THE,2,0,2,1,0.000450,1.0
388496,FLEET-STREET,JUNE,1,1,1,1,0.178571,1.0
359186,'PRAISE,OR,1,0,1,1,0.000930,1.0
371971,--THEA,WAS,1,0,1,1,0.001777,1.0
394978,'ITS,NAMES,1,0,1,1,0.035714,1.0
390219,JAMES'S,MAGAZINE,1,0,1,3,0.000000,1.0
332615,CHLOREUS,THE,1,0,1,1,0.000450,1.0
393647,POS,TEN,1,0,1,1,0.017544,1.0

In [198]:
g = model_df.groupby('word2')
m = g.sum().reset_index()[['word2', 'end']].merge(g.sum().reset_index()[['word2', 'count']], on='word2')
m['end_percent'] = m['end']/m['count']
m.sort_values('end_percent').head(100)
#g.count().reset_index()[['word2', 'count']]

               word2  end  count  end_percent
0              'BOUT    0      1          0.0
12958       OPERATES    0      1          0.0
12959      OPERATING    0      2          0.0
12961     OPERATIONS    0      5          0.0
12962         OPIATE    0      9          0.0
12964       OPINIONS    0     29          0.0
12965          OPIUM    0      1          0.0
12966        OPOSSUM    0      1          0.0
12968      OPPONENTS    0      2          0.0
12969      OPPORTUNE    0      3          0.0
12970  OPPORTUNITIES    0     11          0.0
12971    OPPORTUNITY    0     26          0.0
12974        OPPOSES    0      2          0.0
12975       OPPOSING    0      5          0.0
12976       OPPOSITE    0     33          0.0
12956         OPERAS    0      1          0.0
12978        OPPRESS    0      9          0.0
12982    OPPRESSIONS    0      3          0.0
12983     OPPRESSIVE    0      1          0.0
12984      OPPRESSOR    0     12          0.0
12985     OPPRESSORS    0     10          0.0
12986            OPS    0      1          0.0
12987          OPTIC    0      2          0.0
12988        OPTIMUM    0      1          0.0
12989         OPTION    0      1          0.0
12990       OPULENCE    0      1          0.0
12991        OPULENT    0      5          0.0
12995         ORANGE    0      9          0.0
12996        ORANGES    0      1          0.0
12997        ORATION    0      1          0.0
...              ...  ...    ...          ...
13050       ORNAMENT    0     16          0.0
13051     ORNAMENTAL    0      2          0.0
13052      ORNAMENTS    0      5          0.0
13053         ORPHAN    0     13          0.0
13054        ORPHANS    0      3          0.0
13056         ORPHIC    0      3          0.0
13058       ORTHODOX    0      4          0.0
13059      ORTHODOXY    0      1          0.0
13060             OS    0      2          0.0
13061    OSCILLATING    0      2          0.0
13062   OSCILLATIONS    0      1          0.0
13063            OSE    0      3          0.0
13064            OST    0      1          0.0
13065          OSTEN    0      1          0.0
13049      ORLANDO'S    0      1          0.0
13066     OSTENSIBLE    0      4          0.0
13069          OSTER    0      1          0.0
13073        OTHER'S    0     38          0.0
13075        OTHERS'    0     18          0.0
13076      OTHERWISE    0     24          0.0
13077         OTHMAN    0      2          0.0
13079             OU    0     85          0.0
13081          OUNCE    0      1          0.0
13082         OUNCES    0      1          0.0
13083            OUR    0   1975          0.0
13087     OUTBIDDING    0      1          0.0
13088       OUTBOUND    0      1          0.0
13089       OUTBURST    0      1          0.0
13090      OUTBURSTS    0      1          0.0
13091        OUTCAST    0      8          0.0

[100 rows x 4 columns]

In [229]:
m[m['word1'] == 'A']

     word1  start  count  start_percent
1162     A    561  13887       0.040397

In [49]:
def uppercase(matchobj):
    return matchobj.group(0).upper()

def capitalize(s):
    return re.sub('^([a-z])|[\.|\?|\!]\s*([a-z])|\s+([a-z])(?=\.)', uppercase, s)

In [72]:
#haiku = [[]]
#counts = [5, 7, 5]

def get_first_word():
    subset = model2_df[(model2_df['syllables_word1'] <= 5) & (model2_df['start_percent'] > .1)]
    w = subset.sample(n=1).iloc[0]
    return {'word': w['word1'], 'syllables': w['syllables_word1']}
    #return w#['word2'], w['syllables']

def get_word(previous_words, remaining, line):
    if len(previous_words) >= 2:
        subset = model3_df[
            (model3_df['word1'] == previous_words[-2]['word']) &
            (model3_df['word2'] == previous_words[-1]['word']) & 
            (model3_df['syllables'] <= remaining)
        ]
        
        if line == 2:
            subset = subset[(subset['syllables'] < remaining) | (subset['end_percent'] > .1)]
            
        if len(subset) == 0:
            return get_word([previous_words[-1]], remaining, line)
        
        w = subset.sample(n=1, weights='count').iloc[0]
        
        return {'word': w['word3'], 'syllables': w['syllables']}
    else:
        subset = model2_df[
            (model2_df['word1'] == previous_words[-1]['word']) &
            (model2_df['syllables'] <= remaining)
        ]
        
        if line == 2:
            subset = subset[(subset['syllables'] < remaining) | (subset['end_percent'] > .1)]

        w = subset.sample(n=1, weights='count').iloc[0]

        return {'word': w['word2'], 'syllables': w['syllables']}

def generate_haiku():
    #w = model_df[model_df['syllables']<=5].sample(n=1).iloc[0]
    w = get_first_word()
    #previous_word = w#['word2']
    previous_words = [w]
    haiku = [[w], [], []]
    counts = [5 - w['syllables'], 7, 5]

    for i,l in enumerate(counts):
        remaining = l
        while remaining > 0:
            try:
                w = get_word(previous_words, remaining, i)
                previous_words.append(w)
                haiku[i].append(w)
                remaining -= w['syllables']
            except Exception as e:
                raise e
                previous = haiku[i].pop()
                previous_words.pop()
                remaining += previous['syllables']


    print(capitalize("\n".join([" ".join([w['word'] for w in l]) for l in haiku]).lower()))
    
#generate_haiku()
    
generated = False
while not generated:
    try:
        generate_haiku()
        generated = True
    except:
        pass
#generate_haiku()

Veiling her deep heart
of the fatal issue of
the forces on mast

In [258]:
model_df[(model_df['word1'] == 'AJAX')]

,word1,word2,count,end,start,syllables,syllables_word1,end_percent,start_percent
304243,AJAX,IN,7,0,0,1,2,0.002937,0.095541
304244,AJAX,AND,11,0,1,1,2,0.000324,0.095541
304245,AJAX,THE,8,0,3,1,2,0.000327,0.095541
304246,AJAX,YOUR,1,0,0,1,2,0.000000,0.095541
304247,AJAX,WHICH,1,0,0,1,2,0.000410,0.095541
304248,AJAX,FROM,2,0,1,1,2,0.002742,0.095541
304249,AJAX,BUT,3,0,0,1,2,0.000360,0.095541
304250,AJAX,TO,4,0,0,1,2,0.000471,0.095541
304251,AJAX,I,1,0,0,1,2,0.010609,0.095541
304252,AJAX,WHO,2,0,0,1,2,0.000882,0.095541
304253,AJAX,AT,4,0,0,1,2,0.001296,0.095541
304254,AJAX,NOR,1,0,0,1,2,0.001581,0.095541
304255,AJAX,WITH,12,0,2,1,2,0.000403,0.095541
304256,AJAX,OR,4,0,0,1,2,0.000163,0.095541
304257,AJAX,IS,5,0,1,1,2,0.002953,0.095541
304258,AJAX,HIS,3,0,0,1,2,0.001110,0.095541
304259,AJAX,FOR,1,0,0,1,2,0.001052,0.095541
304260,AJAX,THROUGH,1,0,0,1,2,0.004882,0.095541
304261,AJAX,ME,1,0,0,1,2,0.089134,0.095541
304262,AJAX,THERE,1,0,0,1,2,0.047821,0.095541
304263,AJAX,TERRIBLE,1,0,0,3,2,0.025210,0.095541
304264,AJAX,THEN,2,0,0,1,2,0.009690,0.095541
304265,AJAX,ONCE,1,0,0,1,2,0.013172,0.095541
304266,AJAX,HE,1,0,0,1,2,0.004676,0.095541
304267,AJAX,FAR,1,0,0,1,2,0.011450,0.095541
304268,AJAX,HIM,3,0,0,1,2,0.071278,0.095541
304269,AJAX,THEM,2,0,0,1,2,0.080869,0.095541
304270,AJAX,WAS,1,0,0,1,2,0.002569,0.095541
304271,AJAX,THUS,1,0,0,1,2,0.014657,0.095541
304272,AJAX,FIRST,1,0,0,1,2,0.019879,0.095541
...,...,...,...,...,...,...,...,...,...
304302,AJAX,OFFSPRING,1,0,0,2,2,0.018182,0.095541
304303,AJAX,RECEIVING,1,0,0,3,2,0.034483,0.095541
304304,AJAX,PROVE,1,0,0,1,2,0.017241,0.095541
304305,AJAX,BID,1,0,0,1,2,0.000000,0.095541
304306,AJAX,NEXT,1,0,1,1,2,0.015267,0.095541
304307,AJAX,RUNNING,1,0,0,2,2,0.052632,0.095541
304308,AJAX,PURPLE,1,0,0,2,2,0.013333,0.095541
304309,AJAX,HECTOR,1,0,0,2,2,0.037975,0.095541
304310,AJAX,WILLING,1,0,0,2,2,0.040000,0.095541
304311,AJAX,MIGHTY,1,0,0,2,2,0.002247,0.095541
304312,AJAX,TROUBLED,1,0,0,2,2,0.026667,0.095541
304313,AJAX,EXHAUSTED,1,0,0,3,2,0.105263,0.095541
304314,AJAX,AJAX,1,0,0,2,2,0.054054,0.095541
304315,AJAX,STRIDING,1,0,0,2,2,0.000000,0.095541
304316,AJAX,HEROIC,1,0,1,3,2,0.000000,0.095541
304317,AJAX,HUGE,1,0,0,1,2,0.005435,0.095541
304318,AJAX,CEASELESS,1,0,0,2,2,0.000000,0.095541
304319,AJAX,ULYSSES,1,0,0,3,2,0.065217,0.095541
304320,AJAX,MINISTERS,1,0,0,3,2,0.075000,0.095541
304321,AJAX,FAMED,1,0,0,1,2,0.000000,0.095541
304322,AJAX,SUMS,1,0,1,1,2,0.000000,0.095541
304323,AJAX,SHIELDED,1,0,0,2,2,0.000000,0.095541
304324,AJAX,BULWARK,1,0,0,2,2,0.090909,0.095541
304325,AJAX,SPRINGING,2,0,0,2,2,0.000000,0.095541
304326,AJAX,FOUGHT,1,0,0,1,2,0.138298,0.095541
304327,AJAX,ANIMATED,1,0,0,4,2,0.000000,0.095541
304328,AJAX,YIELDS,1,0,0,1,2,0.000000,0.095541
304329,AJAX,RANGING,1,0,0,2,2,0.000000,0.095541
304330,AJAX,ABIDING,1,0,1,3,2,0.000000,0.095541
304331,AJAX,COMMENCES,1,0,1,3,2,0.000000,0.095541

In [159]:
corpus = []
regex = re.compile("[^A-Z\s'-\.]")
for path in pathlib.Path('corpus').glob('*'):
    print(str(path))
    with open(str(path)) as f:
        corpus = corpus + re.split(r'\.\s+', regex.sub('', f.read().upper()))

corpus\1321-0.txt
corpus\pg1322.txt
corpus\pg14568.txt
corpus\pg1567.txt
corpus\pg16452.txt
corpus\pg19221.txt
corpus\pg20.txt
corpus\pg2039.txt
corpus\pg228.txt
corpus\pg23684.txt
corpus\pg4800.txt
corpus\pg9622.txt

In [160]:
corpus[0:10]

['\nTHE PROJECT GUTENBERG EBOOK OF THE WASTE LAND, BY T',
 'S',
 'ELIOT\n\nTHIS EBOOK IS FOR THE USE OF ANYONE ANYWHERE AT NO COST AND WITH\nALMOST NO RESTRICTIONS WHATSOEVER',
 'YOU MAY COPY IT, GIVE IT AWAY OR\nRE-USE IT UNDER THE TERMS OF THE PROJECT GUTENBERG LICENSE INCLUDED\nWITH THIS EBOOK OR ONLINE AT WWW.GUTENBERG.ORG\n\n\nTITLE THE WASTE LAND\n\nAUTHOR T',
 'S',
 'ELIOT\n\n\nMAY,   ETEXT \nLAST UPDATED JULY , \n\nLANGUAGE ENGLISH\n\nCHARACTER SET ENCODING UTF-\n\n*** START OF THIS PROJECT GUTENBERG EBOOK THE WASTE LAND ***\n\n\n\nTEXT FILE PRODUCED BY AN ANONYMOUS PROJECT GUTENBERG VOLUNTEER\n\nHTML FILE PRODUCED BY DAVID WIDGER\n\n\n\n\nTHE WASTE LAND\nBY T',
 'S',
 'ELIOT\n\n\n\nCONTENTS\n\nI',
 'THE BURIAL OF THE DEAD\n\nII',
 'A GAME OF CHESS\n\nIII']

In [8]:
dictionary = {}
with open('phoneme-groups-with-syllables.json') as f:
    for l in f:
        j = json.loads(l)
        dictionary[j['word']] = len(j['syllables'])

In [9]:
len(dictionary)

133334

In [44]:
dictionary['CAN\'T']

1

In [21]:
syllabels = [[] for i in range(20)]
for k in dictionary:
    syllabels[dictionary[k]].append(k)

In [24]:
syllabels[7]

['CONSPIRATORIALLY',
 'SUPERMINICOMPUTERS',
 'NONDISCRIMINATORY',
 'ENVIRONMENTALISM(1)',
 'DENATIONALIZATIONS',
 'ELECTROMAGNETISM',
 'UNCONSTITUTIONALLY',
 'LARYNGOSCOPICALY(1)',
 'SEPTUAGENARIAN',
 'INTERDISCIPLINARY',
 "INDIANAPOLIS'S",
 'MULTILATERALISM',
 'RECAPITALIZATIONS',
 'ANESTHESIOLOGY',
 'INTERNATIONALISM',
 'DEINSTITUTIONALIZE',
 'UNCEREMONIOUSLY',
 'CONFIDENTIALITY(1)',
 'N92762',
 'MINISUPERCOMPUTERS',
 'ELECTROCARDIOGRAMS',
 'SUPERCONDUCTIVITY',
 'AUTOBIOGRAPHICAL',
 'HOMOSEXUALITY',
 'OVERSIMPLIFICATION',
 'EPIDEMIOLOGIST',
 'UNRELIABILITY',
 'INTELLECTUALISM(1)',
 'CYTOMEGALOVIRUS',
 'PARTECIPAZIONI',
 'CONTEMPORANEOUSLY',
 'UNPROFITABILITY',
 'INTERGENERATIONAL',
 'EXTRATERRITORIAL',
 'LARYNGOSCOPICALY',
 'INTELLECTUALISM',
 'MINIATURIZATION',
 'IRRESPONSIBILITY',
 'ANGLO-CATHOLICISM',
 'UNDIFFERENTIATED',
 'OVERSENSITIVITY',
 'EPIDEMIOLOGY',
 'EDITORIALIZING',
 'INDIVIDUALISTIC',
 'ELECTROBIOLOGY',
 'INTERNATIONALISM(1)',
 'OVERWHELMABILITY',
 'BIOTECHNOLOGICAL',
 'INDESTRUCTIBILITY',
 'ANTIDISCRIMINATION',
 'SUPERMINICOMPUTER',
 'RADIOACTIVITY',
 'INCOMPATIBILITY',
 'MINISUPERCOMPUTER',
 'TELECOMMUNICATION',
 'VEGETARIANISM',
 'ANTIDISCRIMINATION(1)',
 'UNAVAILABILITY',
 'RENATIONALIZATION',
 'DEMILITARIZATION',
 'SOCIOECONOMIC',
 'DENUCLEARIZATION',
 'ANTI-CATHOLICISM(1)',
 'UNCHARACTERISTICALLY',
 'IMMUNODEFICIENCY',
 'SUPERNATURALISM',
 'MISIDENTIFICATION(1)',
 'RADIOACTIVITY(1)',
 'HETEROGENEITY(1)',
 'INVULNERABILITY',
 'RITUALISTICALLY',
 'NEOPOSITIVISM',
 'INDUSTRIALIZATION',
 'MICROELETTRONICA',
 'COMPREHENSIBILITY',
 'ANESTHESIOLOGISTS(1)',
 'DECRIMINALIZATION',
 'NEUROFIBROMATOSIS',
 'RECAPITALIZATION',
 'ELECTROPHORETOGRAM',
 'TELECOMMUNICATIONS',
 'ELECTROMECHANICAL',
 'CONSTITUTIONALITY',
 'INACCESSIBILITY',
 'ELECTROCARDIOGRAM',
 'INDIVIDUALISM',
 'AMERICANIZATION',
 'MISCHARACTERIZATION',
 'BIOPHARMACEUTICAL',
 'ANESTHESIOLOGIST',
 'METEOROLOGICAL',
 'ENVIRONMENTALISM',
 'IMMUNOPEROXIDASE',
 'TERRITORIALISM',
 'CARDIOPULMONARY',
 'INDIVIDUALITY',
 'ASSICURAZIONI',
 'MISIDENTIFICATION',
 'ANESTHESIOLOGISTS',
 "ELECTROBIOLOGY'S",
 'UNILATERALISM',
 'ETHNOMUSICOLOGIST',
 'MISCHARACTERIZATIONS',
 'CONFIDENTIALITY',
 'PARLIAMENTARIANISM(1)',
 'ARTERIOSCLEROSIS',
 'ALUMINOSILICATE',
 'MULTICULTURALISM',
 'MANEUVERABILITY',
 'DIDEOXYCYTIDINE',
 "TELECOMMUNICATIONS'",
 'INEVITABILITY',
 'HYPERSENSITIVITY',
 'OVERWHELMABILITY(1)',
 'UNPREDICTABILITY',
 'MINERALOGICALLY',
 'HETEROGENEITY',
 'EPIDEMIOLOGISTS',
 'INSTITUTIONALIZES',
 'DENATIONALIZATION',
 'INMOBILIARIA',
 'ANTI-CATHOLICISM',
 'INSTITUTIONALIZING']

In [29]:
haiku = []
for l in [5, 7, 5]:
    remaining = l
    haiku.append([])
    while remaining > 0:
        s = random.randint(1, remaining)
        haiku[-1].append(random.choice(syllabels[s]))
        remaining -= s
        
haiku

[['JOHANNESSEN', 'SPURRED'],
 ['SUPERCONDUCTIVITY'],
 ['DRACHMAS', 'OBESE', 'SHOOED']]

In [126]:
corpus = []
regex = re.compile("[^A-Z\s'-]")
for path in pathlib.Path('corpus').glob('*'):
    print(str(path))
    with open(str(path)) as f:
        corpus.append(regex.sub('', f.read().upper()).split())

corpus\1321-0.txt
corpus\pg1322.txt
corpus\pg14568.txt
corpus\pg1567.txt
corpus\pg16452.txt
corpus\pg19221.txt
corpus\pg20.txt
corpus\pg2039.txt
corpus\pg228.txt
corpus\pg23684.txt
corpus\pg4800.txt
corpus\pg9622.txt

In [103]:
len(corpus[0])

124386

In [48]:
corpus[0]

['GERONTION',
 'THOU',
 'HAST',
 'NOR',
 'YOUTH',
 'NOR',
 'AGE',
 'BUT',
 'AS',
 'IT',
 'WERE',
 'AN',
 'AFTER',
 'DINNER',
 'SLEEP',
 'DREAMING',
 'OF',
 'BOTH',
 'HERE',
 'I',
 'AM',
 'AN',
 'OLD',
 'MAN',
 'IN',
 'A',
 'DRY',
 'MONTH',
 'BEING',
 'READ',
 'TO',
 'BY',
 'A',
 'BOY',
 'WAITING',
 'FOR',
 'RAIN',
 'I',
 'WAS',
 'NEITHER',
 'AT',
 'THE',
 'HOT',
 'GATES',
 'NOR',
 'FOUGHT',
 'IN',
 'THE',
 'WARM',
 'RAIN',
 'NOR',
 'KNEE',
 'DEEP',
 'IN',
 'THE',
 'SALT',
 'MARSH',
 'HEAVING',
 'A',
 'CUTLASS',
 'BITTEN',
 'BY',
 'FLIES',
 'FOUGHT',
 'MY',
 'HOUSE',
 'IS',
 'A',
 'DECAYED',
 'HOUSE',
 'AND',
 'THE',
 'JEW',
 'SQUATS',
 'ON',
 'THE',
 'WINDOW',
 'SILL',
 'THE',
 'OWNER',
 'SPAWNED',
 'IN',
 'SOME',
 'ESTAMINET',
 'OF',
 'ANTWERP',
 'BLISTERED',
 'IN',
 'BRUSSELS',
 'PATCHED',
 'AND',
 'PEELED',
 'IN',
 'LONDON',
 'THE',
 'GOAT',
 'COUGHS',
 'AT',
 'NIGHT',
 'IN',
 'THE',
 'FIELD',
 'OVERHEAD',
 'ROCKS',
 'MOSS',
 'STONECROP',
 'IRON',
 'MERDS',
 'THE',
 'WOMAN',
 'KEEPS',
 'THE',
 'KITCHEN',
 'MAKES',
 'TEA',
 'SNEEZES',
 'AT',
 'EVENING',
 'POKING',
 'THE',
 'PEEVISH',
 'GUTTER',
 'I',
 'AN',
 'OLD',
 'MAN',
 'A',
 'DULL',
 'HEAD',
 'AMONG',
 'WINDY',
 'SPACES',
 'SIGNS',
 'ARE',
 'TAKEN',
 'FOR',
 'WONDERS',
 'WE',
 'WOULD',
 'SEE',
 'A',
 'SIGN',
 'THE',
 'WORD',
 'WITHIN',
 'A',
 'WORD',
 'UNABLE',
 'TO',
 'SPEAK',
 'A',
 'WORD',
 'SWADDLED',
 'WITH',
 'DARKNESS',
 'IN',
 'THE',
 'JUVESCENCE',
 'OF',
 'THE',
 'YEAR',
 'CAME',
 'CHRIST',
 'THE',
 'TIGER',
 'IN',
 'DEPRAVED',
 'MAY',
 'DOGWOOD',
 'AND',
 'CHESTNUT',
 'FLOWERING',
 'JUDAS',
 'TO',
 'BE',
 'EATEN',
 'TO',
 'BE',
 'DIVIDED',
 'TO',
 'BE',
 'DRUNK',
 'AMONG',
 'WHISPERS',
 'BY',
 'MR',
 'SILVERO',
 'WITH',
 'CARESSING',
 'HANDS',
 'AT',
 'LIMOGES',
 'WHO',
 'WALKED',
 'ALL',
 'NIGHT',
 'IN',
 'THE',
 'NEXT',
 'ROOM',
 'BY',
 'HAKAGAWA',
 'BOWING',
 'AMONG',
 'THE',
 'TITIANS',
 'BY',
 'MADAME',
 'DE',
 'TORNQUIST',
 'IN',
 'THE',
 'DARK',
 'ROOM',
 'SHIFTING',
 'THE',
 'CANDLES',
 'FRAULEIN',
 'VON',
 'KULP',
 'WHO',
 'TURNED',
 'IN',
 'THE',
 'HALL',
 'ONE',
 'HAND',
 'ON',
 'THE',
 'DOOR',
 'VACANT',
 'SHUTTLES',
 'WEAVE',
 'THE',
 'WIND',
 'I',
 'HAVE',
 'NO',
 'GHOSTS',
 'AN',
 'OLD',
 'MAN',
 'IN',
 'A',
 'DRAUGHTY',
 'HOUSE',
 'UNDER',
 'A',
 'WINDY',
 'KNOB',
 'AFTER',
 'SUCH',
 'KNOWLEDGE',
 'WHAT',
 'FORGIVENESS',
 'THINK',
 'NOW',
 'HISTORY',
 'HAS',
 'MANY',
 'CUNNING',
 'PASSAGES',
 'CONTRIVED',
 'CORRIDORS',
 'AND',
 'ISSUES',
 'DECEIVES',
 'WITH',
 'WHISPERING',
 'AMBITIONS',
 'GUIDES',
 'US',
 'BY',
 'VANITIES',
 'THINK',
 'NOW',
 'SHE',
 'GIVES',
 'WHEN',
 'OUR',
 'ATTENTION',
 'IS',
 'DISTRACTED',
 'AND',
 'WHAT',
 'SHE',
 'GIVES',
 'GIVES',
 'WITH',
 'SUCH',
 'SUPPLE',
 'CONFUSIONS',
 'THAT',
 'THE',
 'GIVING',
 'FAMISHES',
 'THE',
 'CRAVING',
 'GIVES',
 'TOO',
 'LATE',
 "WHAT'S",
 'NOT',
 'BELIEVED',
 'IN',
 'OR',
 'IF',
 'STILL',
 'BELIEVED',
 'IN',
 'MEMORY',
 'ONLY',
 'RECONSIDERED',
 'PASSION',
 'GIVES',
 'TOO',
 'SOON',
 'INTO',
 'WEAK',
 'HANDS',
 "WHAT'S",
 'THOUGHT',
 'CAN',
 'BE',
 'DISPENSED',
 'WITH',
 'TILL',
 'THE',
 'REFUSAL',
 'PROPAGATES',
 'A',
 'FEAR',
 'THINK',
 'NEITHER',
 'FEAR',
 'NOR',
 'COURAGE',
 'SAVES',
 'US',
 'UNNATURAL',
 'VICES',
 'ARE',
 'FATHERED',
 'BY',
 'OUR',
 'HEROISM',
 'VIRTUES',
 'ARE',
 'FORCED',
 'UPON',
 'US',
 'BY',
 'OUR',
 'IMPUDENT',
 'CRIMES',
 'THESE',
 'TEARS',
 'ARE',
 'SHAKEN',
 'FROM',
 'THE',
 'WRATH-BEARING',
 'TREE',
 'THE',
 'TIGER',
 'SPRINGS',
 'IN',
 'THE',
 'NEW',
 'YEAR',
 'US',
 'HE',
 'DEVOURS',
 'THINK',
 'AT',
 'LAST',
 'WE',
 'HAVE',
 'NOT',
 'REACHED',
 'CONCLUSION',
 'WHEN',
 'I',
 'STIFFEN',
 'IN',
 'A',
 'RENTED',
 'HOUSE',
 'THINK',
 'AT',
 'LAST',
 'I',
 'HAVE',
 'NOT',
 'MADE',
 'THIS',
 'SHOW',
 'PURPOSELESSLY',
 'AND',
 'IT',
 'IS',
 'NOT',
 'BY',
 'ANY',
 'CONCITATION',
 'OF',
 'THE',
 'BACKWARD',
 'DEVILS',
 'I',
 'WOULD',
 'MEET',
 'YOU',
 'UPON',
 'THIS',
 'HONESTLY',
 'I',
 'THAT',
 'WAS',
 'NEAR',
 'YOUR',
 'HEART',
 'WAS',
 'REMOVED',
 'THEREFROM',
 'TO',
 'LOSE',
 'BEAUTY',
 'IN',
 'TERROR',
 'TERROR',
 'IN',
 'INQUISITION',
 'I',
 'HAVE',
 'LOST',
 'MY',
 'PASSION',
 'WHY',
 'SHOULD',
 'I',
 'NEED',
 'TO',
 'KEEP',
 'IT',
 'SINCE',
 'WHAT',
 'IS',
 'KEPT',
 'MUST',
 'BE',
 'ADULTERATED',
 'I',
 'HAVE',
 'LOST',
 'MY',
 'SIGHT',
 'SMELL',
 'HEARING',
 'TASTE',
 'AND',
 'TOUCH',
 'HOW',
 'SHOULD',
 'I',
 'USE',
 'IT',
 'FOR',
 'YOUR',
 'CLOSER',
 'CONTACT',
 'THESE',
 'WITH',
 'A',
 'THOUSAND',
 'SMALL',
 'DELIBERATIONS',
 'PROTRACT',
 'THE',
 'PROFIT',
 'OF',
 'THEIR',
 'CHILLED',
 'DELIRIUM',
 'EXCITE',
 'THE',
 'MEMBRANE',
 'WHEN',
 'THE',
 'SENSE',
 'HAS',
 'COOLED',
 'WITH',
 'PUNGENT',
 'SAUCES',
 'MULTIPLY',
 'VARIETY',
 'IN',
 'A',
 'WILDERNESS',
 'OF',
 'MIRRORS',
 'WHAT',
 'WILL',
 'THE',
 'SPIDER',
 'DO',
 'SUSPEND',
 'ITS',
 'OPERATIONS',
 'WILL',
 'THE',
 'WEEVIL',
 'DELAY',
 'DE',
 'BAILHACHE',
 'FRESCA',
 'MRS',
 'CAMMEL',
 'WHIRLED',
 'BEYOND',
 'THE',
 'CIRCUIT',
 'OF',
 'THE',
 'SHUDDERING',
 'BEAR',
 'IN',
 'FRACTURED',
 'ATOMS',
 'GULL',
 'AGAINST',
 'THE',
 'WIND',
 'IN',
 'THE',
 'WINDY',
 'STRAITS',
 'OF',
 'BELLE',
 'ISLE',
 'OR',
 'RUNNING',
 'ON',
 'THE',
 'HORN',
 'WHITE',
 'FEATHERS',
 'IN',
 'THE',
 'SNOW',
 'THE',
 'GULF',
 'CLAIMS',
 'AND',
 'AN',
 'OLD',
 'MAN',
 'DRIVEN',
 'BY',
 'THE',
 'TRADES',
 'TO',
 'A',
 'SLEEPY',
 'CORNER',
 'TENANTS',
 'OF',
 'THE',
 'HOUSE',
 'THOUGHTS',
 'OF',
 'A',
 'DRY',
 'BRAIN',
 'IN',
 'A',
 'DRY',
 'SEASON',
 'BURBANK',
 'WITH',
 'A',
 'BAEDEKER',
 'BLEISTEIN',
 'WITH',
 'A',
 'CIGAR',
 'TRA-LA-LA-LA-LA-LA-LAIRE--NIL',
 'NISI',
 'DIVINUM',
 'STABILE',
 'EST',
 'CAETERA',
 'FUMUS--THE',
 'GONDOLA',
 'STOPPED',
 'THE',
 'OLD',
 'PALACE',
 'WAS',
 'THERE',
 'HOW',
 'CHARMING',
 'ITS',
 'GREY',
 'AND',
 'PINK--',
 'GOATS',
 'AND',
 'MONKEYS',
 'WITH',
 'SUCH',
 'HAIR',
 'TOO--SO',
 'THE',
 'COUNTESS',
 'PASSED',
 'ON',
 'UNTIL',
 'SHE',
 'CAME',
 'THROUGH',
 'THE',
 'LITTLE',
 'PARK',
 'WHERE',
 'NIOBE',
 'PRESENTED',
 'HER',
 'WITH',
 'A',
 'CABINET',
 'AND',
 'SO',
 'DEPARTED',
 'BURBANK',
 'CROSSED',
 'A',
 'LITTLE',
 'BRIDGE',
 'DESCENDING',
 'AT',
 'A',
 'SMALL',
 'HOTEL',
 'PRINCESS',
 'VOLUPINE',
 'ARRIVED',
 'THEY',
 'WERE',
 'TOGETHER',
 'AND',
 'HE',
 'FELL',
 'DEFUNCTIVE',
 'MUSIC',
 'UNDER',
 'SEA',
 'PASSED',
 'SEAWARD',
 'WITH',
 'THE',
 'PASSING',
 'BELL',
 'SLOWLY',
 'THE',
 'GOD',
 'HERCULES',
 'HAD',
 'LEFT',
 'HIM',
 'THAT',
 'HAD',
 'LOVED',
 'HIM',
 'WELL',
 'THE',
 'HORSES',
 'UNDER',
 'THE',
 'AXLETREE',
 'BEAT',
 'UP',
 'THE',
 'DAWN',
 'FROM',
 'ISTRIA',
 'WITH',
 'EVEN',
 'FEET',
 'HER',
 'SHUTTERED',
 'BARGE',
 'BURNED',
 'ON',
 'THE',
 'WATER',
 'ALL',
 'THE',
 'DAY',
 'BUT',
 'THIS',
 'OR',
 'SUCH',
 'WAS',
 "BLEISTEIN'S",
 'WAY',
 'A',
 'SAGGY',
 'BENDING',
 'OF',
 'THE',
 'KNEES',
 'AND',
 'ELBOWS',
 'WITH',
 'THE',
 'PALMS',
 'TURNED',
 'OUT',
 'CHICAGO',
 'SEMITE',
 'VIENNESE',
 'A',
 'LUSTRELESS',
 'PROTRUSIVE',
 'EYE',
 'STARES',
 'FROM',
 'THE',
 'PROTOZOIC',
 'SLIME',
 'AT',
 'A',
 'PERSPECTIVE',
 'OF',
 'CANALETTO',
 'THE',
 'SMOKY',
 'CANDLE',
 'END',
 'OF',
 'TIME',
 'DECLINES',
 'ON',
 'THE',
 'RIALTO',
 'ONCE',
 'THE',
 'RATS',
 'ARE',
 'UNDERNEATH',
 'THE',
 'PILES',
 'THE',
 'JEW',
 'IS',
 'UNDERNEATH',
 'THE',
 'LOT',
 'MONEY',
 'IN',
 'FURS',
 'THE',
 'BOATMAN',
 'SMILES',
 'PRINCESS',
 'VOLUPINE',
 'EXTENDS',
 'A',
 'MEAGRE',
 'BLUE-NAILED',
 'PHTHISIC',
 'HAND',
 'TO',
 'CLIMB',
 'THE',
 'WATERSTAIR',
 'LIGHTS',
 'LIGHTS',
 'SHE',
 'ENTERTAINS',
 'SIR',
 'FERDINAND',
 'KLEIN',
 'WHO',
 'CLIPPED',
 'THE',
 "LION'S",
 'WINGS',
 'AND',
 "FLEA'D",
 'HIS',
 'RUMP',
 'AND',
 'PARED',
 'HIS',
 'CLAWS',
 'THOUGHT',
 'BURBANK',
 'MEDITATING',
 'ON',
 "TIME'S",
 'RUINS',
 'AND',
 'THE',
 'SEVEN',
 'LAWS',
 'SWEENEY',
 'ERECT',
 'AND',
 'THE',
 'TREES',
 'ABOUT',
 'ME',
 'LET',
 'THEM',
 'BE',
 'DRY',
 'AND',
 'LEAFLESS',
 'LET',
 'THE',
 'ROCKS',
 'GROAN',
 'WITH',
 'CONTINUAL',
 'SURGES',
 'AND',
 'BEHIND',
 'ME',
 'MAKE',
 'ALL',
 'A',
 'DESOLATION',
 'LOOK',
 'LOOK',
 'WENCHES',
 'PAINT',
 'ME',
 'A',
 'CAVERNOUS',
 'WASTE',
 'SHORE',
 'CAST',
 'IN',
 'THE',
 'UNSTILTED',
 'CYCLADES',
 'PAINT',
 'ME',
 'THE',
 'BOLD',
 'ANFRACTUOUS',
 'ROCKS',
 'FACED',
 'BY',
 'THE',
 'SNARLED',
 'AND',
 'YELPING',
 'SEAS',
 'DISPLAY',
 'ME',
 'AEOLUS',
 'ABOVE',
 'REVIEWING',
 'THE',
 'INSURGENT',
 'GALES',
 'WHICH',
 'TANGLE',
 "ARIADNE'S",
 'HAIR',
 'AND',
 'SWELL',
 'WITH',
 'HASTE',
 'THE',
 'PERJURED',
 'SAILS',
 'MORNING',
 'STIRS',
 'THE',
 'FEET',
 'AND',
 'HANDS',
 'NAUSICAA',
 'AND',
 'POLYPHEME',
 'GESTURE',
 'OF',
 'ORANG-OUTANG',
 'RISES',
 'FROM',
 'THE',
 'SHEETS',
 'IN',
 'STEAM',
 'THIS',
 'WITHERED',
 'ROOT',
 'OF',
 'KNOTS',
 'OF',
 'HAIR',
 'SLITTED',
 'BELOW',
 'AND',
 'GASHED',
 'WITH',
 'EYES',
 'THIS',
 'OVAL',
 'O',
 'CROPPED',
 'OUT',
 'WITH',
 'TEETH',
 'THE',
 'SICKLE',
 'MOTION',
 'FROM',
 'THE',
 'THIGHS',
 'JACKKNIFES',
 'UPWARD',
 'AT',
 'THE',
 'KNEES',
 'THEN',
 'STRAIGHTENS',
 'OUT',
 'FROM',
 'HEEL',
 'TO',
 'HIP',
 'PUSHING',
 'THE',
 'FRAMEWORK',
 'OF',
 'THE',
 'BED',
 'AND',
 'CLAWING',
 'AT',
 'THE',
 'PILLOW',
 'SLIP',
 'SWEENEY',
 'ADDRESSED',
 'FULL',
 'LENGTH',
 'TO',
 'SHAVE',
 'BROADBOTTOMED',
 'PINK',
 'FROM',
 'NAPE',
 'TO',
 'BASE',
 'KNOWS',
 'THE',
 'FEMALE',
 'TEMPERAMENT',
 'AND',
 'WIPES',
 'THE',
 'SUDS',
 'AROUND',
 'HIS',
 'FACE',
 'THE',
 'LENGTHENED',
 'SHADOW',
 'OF',
 'A',
 'MAN',
 'IS',
 'HISTORY',
 'SAID',
 'EMERSON',
 'WHO',
 'HAD',
 'NOT',
 'SEEN',
 'THE',
 'SILHOUETTE',
 'OF',
 'SWEENEY',
 'STRADDLED',
 'IN',
 'THE',
 'SUN',
 'TESTS',
 'THE',
 'RAZOR',
 'ON',
 'HIS',
 'LEG',
 ...]

In [55]:
corpus[0].index("WRATH-BEARING")

361

In [127]:
model = {}
for c in corpus:
    for i in range(len(c) - 1):
        w1 = c[i]
        w2 = c[i+1]
        if w1 not in model:
            model[w1] = {}
        if w2 not in model[w1]:
            model[w1][w2] = 1
        else:
            model[w1][w2] += 1

In [105]:
model['HERE']

{'A': 4,
 "ABSORB'D": 1,
 'ADAM': 1,
 'AGAIN': 1,
 'ALL': 3,
 'AMERICA': 1,
 "AMERICA'S": 1,
 'AND': 26,
 'ANYHOW': 1,
 'APENECK': 1,
 'ARE': 4,
 'ART': 1,
 'AS': 7,
 'AT': 2,
 'BARD': 1,
 'BE': 1,
 'BEAST': 1,
 'BEGINNING': 1,
 'BEHOLD': 1,
 'BELOW': 1,
 'BESIDE': 1,
 'BREATHE': 1,
 'BUILD': 1,
 'BUT': 1,
 'BY': 5,
 'CAPTAIN': 1,
 'CHAINS': 1,
 'CHANTING': 1,
 'CITY': 1,
 'CLIMB': 1,
 'COFFIN': 1,
 'COMES': 2,
 "CONDEMN'D": 1,
 "CONFIN'D": 1,
 'CONFRONT': 1,
 "DANC'D": 1,
 'DEAR': 1,
 'DO': 2,
 'DOES': 1,
 "DRIV'N": 1,
 'EACH': 2,
 'ENDED': 1,
 'FARR': 1,
 'FILL': 1,
 'FIND': 1,
 "FINISH'D": 1,
 'FIRST': 1,
 'FOR': 7,
 'FROM': 3,
 'FULL': 1,
 'GAPE': 1,
 'GOD': 1,
 'GROWS': 1,
 'HAD': 1,
 'HAPPIE': 1,
 'HATCHING': 1,
 'HE': 1,
 "HEAV'NS": 1,
 'HEED': 1,
 'HERE': 3,
 'HOW': 1,
 'HOWEVER': 4,
 'I': 10,
 'IF': 1,
 'IN': 17,
 "INSTALL'D": 1,
 'IS': 18,
 'IT': 2,
 'JOY': 1,
 'KEEP': 1,
 'LANDS': 1,
 'LAUGH': 1,
 'LET': 2,
 'LIGHTS': 1,
 'LIKE': 1,
 'LILAC': 1,
 'LONG': 1,
 'LOVE': 1,
 'MARCHING': 1,
 'MATTER': 1,
 'MAY': 2,
 'MEANINGS': 1,
 'MY': 3,
 'MYSELF': 1,
 'NATURE': 2,
 'NEEDS': 1,
 'NEW': 1,
 'NO': 4,
 'NONE': 1,
 'NOR': 1,
 'NOT': 5,
 'NOW': 1,
 'OBSERVD': 1,
 'OF': 1,
 'ON': 7,
 'ONE': 2,
 'ONELY': 2,
 'OR': 6,
 'OUT': 1,
 'PASSION': 1,
 'PATIENTLY': 1,
 'PERHAPS': 1,
 'PERSONIFY': 1,
 'PILGRIMS': 1,
 "PLAC'T": 1,
 'PLACE': 1,
 'RELATED': 1,
 'RISES': 1,
 'SAILOR': 1,
 'SEEK': 1,
 'SERVING': 2,
 'SHALL': 3,
 'SHALT': 2,
 'SHE': 1,
 'SHIP': 1,
 'SHOWST': 1,
 'SICK': 1,
 'SLEEP': 1,
 'SOME': 1,
 'SOMEWHERE': 1,
 'SOON': 2,
 'SOUL': 1,
 'SPIRITUALITY': 1,
 'STAND': 1,
 "SWALLOW'D": 1,
 'TAKE': 1,
 'THAT': 1,
 'THE': 24,
 'THEIR': 2,
 'THEM': 1,
 'THEN': 1,
 'THESE': 1,
 'THIS': 3,
 'THOU': 2,
 'THOUGH': 1,
 'THUS': 1,
 'THY': 2,
 'TILL': 1,
 'TO': 11,
 'TO-DAY': 2,
 'TOGETHER': 1,
 'TOO': 4,
 'TOWER': 1,
 'TRANSLATED': 1,
 'UNDER': 2,
 'VARIED': 1,
 'WAITING': 1,
 "WALK'D": 1,
 'WANTOND': 1,
 'WATCHING': 1,
 'WE': 6,
 'WHAT': 4,
 'WHERE': 2,
 'WHO': 1,
 'WILL': 1,
 'WITH': 4,
 'WITHOUT': 1,
 'WOULD': 1,
 'YES': 1,
 'YOU': 3}

In [128]:
records = [(w1, w2, model[w1][w2]) for w1 in model for w2 in model[w1]]

In [129]:
model_df = pd.DataFrame.from_records(records).rename(columns={0: 'word1', 1:'word2', 2:'count'})
model_df.head()

     word1      word2  count
0  SETTLED         IN      1
1  SETTLED        AND      1
2  SETTLED         ON      3
3  SETTLED        SKY      1
4  SETTLED  SWELLFOOT      1

In [108]:
model_df.sort_values('count', ascending=False).head()

       word1 word2  count
97661     OF   THE   1432
25068     IN   THE    800
46695    AND   THE    673
104684    TO   THE    502
60655     ON   THE    405

In [130]:
dict_df = pd.DataFrame.from_records([(k, dictionary[k]) for k in dictionary])
dict_df.head()

            0  1
0   STEFANICH  3
1  PATAGONIAN  5
2      HAMMAR  2
3  DILLENBURG  3
4     ODDBALL  2

In [131]:
model_df = model_df.merge(dict_df.rename(columns={0: 'word2', 1: 'syllables'}), on='word2')

In [132]:
model_df.sort_values('syllables', ascending=False).head()

            word1           word2  count  syllables
369033        THE   INDIVIDUALITY      1          7
382373         OF    UNIMAGINABLE      2          6
405393   EMPLOYEE  IDENTIFICATION      1          6
402157     SPEECH    CONCILIATORY      2          6
409263  OPERATION   UNNECESSARILY      1          6

In [144]:
#haiku = [[]]
#counts = [5, 7, 5]

def get_word(previous_word, remaining):
    subset = model_df[(model_df['word1'] == previous_word) & (model_df['syllables'] <= remaining)]
    w = subset.sample(n=1, weights='syllables').iloc[0]
    return w['word2'], w['syllables']

w = model_df[model_df['syllables']<=5].sample(n=1).iloc[0]
previous_word = w['word2']
haiku = [[previous_word], [], []]
counts = [5 - w['syllables'], 7, 5]

for i,l in enumerate(counts):
    remaining = l
    while remaining > 0:
        w, s = get_word(previous_word, remaining)
        previous_word = w
        haiku[i].append(previous_word)
        remaining -= s
        
print("\n".join([" ".join(w) for w in haiku]).lower())

close embraces tied
unto all started from vague
it indeed do there

In [18]:
re.split(r'[\.!\?;]', "Hi! Hi. Hi? Hi; Hi")

['Hi', ' Hi', ' Hi', ' Hi', ' Hi']

In [19]:
"T  T".split()

['T', 'T']